*{
    margin:0;
    padding:0;
}

body{
    background: #e2f1af url('./img/bg.png');
    margin:15px;  
}

#container{
    background: #e3d888 url('./img/bg-container.png') top center repeat-y;
    margin: 0 auto;
    min-width: 740px;
    max-width: 1180px;
}

#topo{
    position: relative;
    background: #e3d888;
    height: 15.4em;
    min-height: 250px;
}



#area-logo{
    position: absolute;
    background: url('./img/bg.jpg') no-repeat;
    width: 100%;
    height: 250px;
    top:0;
    left:0;
    z-index: 1;
}

.logo a {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 3;
    background: url('./img/logo.png') no-repeat;
    width: 151px;
    height: 66px;
    text-indent: -900px;
}

#area-menu{
    position: absolute;
    top:0;
    right:0;    
    background: url('./img/topo-imagem-lateral.png') no-repeat;
    width: 500px;
    height: 100%;
    z-index: 2;    
}



#conteudo-menu{
    margin-left: 90px;
    margin-right: 15px;
    padding-top: 15px;
}

#menu-locais{
    border-bottom: 1px solid #84714f;
    border-top: 1px solid #84714f;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1em;
    color: #31231e;
}

#menu-locais .locais{
    float: left;
    line-height: 2.1em;
    color:#84714f;    
}

.icon{
    display: none;
    
}

a{
    text-decoration: none;
}

a.reserva{
    text-transform: uppercase;
    background: #e2f1af;
    color: #84714f;
    padding: 5px 10px;
    float: right;
}


/*Barra de navegação vertical
*/
#menu {
    margin-top: 15px;
    
}

ul{
    list-style: none;
}

ul#navegacao{
    float: left;
}

ul#navegacao a{
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 5px;
    color: #6e672c;
    line-height: 30px;
}

ul#navegacao a:hover{
    background: #fdf6be;
}

.three-line-icon{
    display: none;
    color:#31231e;
}

.depoimento{
    width: 226px;
    height: 164px;
    float: right;    
}


/*Área de conteúdos
*********************/
#area-principal{
    float: left;
    width: 50%;
    background: url('./img/bg-area-principal.png') top left repeat-x;
    padding: 15px 0px;
}

#area-lateral{
    float: right;
    width: 50%;
    background: url('./img/bg-area-lateral.png') top left repeat-x;
    padding: 20px 0px;
}

.conteudo{
    margin: 0 auto;
    width: 90%;
}


#rodape{
    clear: both;
    padding: 16px;
    background: #fff url('./img/bg-rodape.png') repeat-x top;
    color: #7d7640;
}


/*Formatação de textos
*/
h2{
    color: #7d7640;
    font-size: 1.1em;
    padding: 5px 0px;
}

p{
    font-size: 1em;
    margin-bottom: 10px;
    color: #5a3a31;
}

h1{
    color: #7d7640;
    font-size: 2.3em;
    padding: 5px 0px;
    
}

#area-principal h3{
    color: #7d7640;
    font-size: 0.9em;
    padding: 5px 0px;
}

.contrato ol li{
    color: #5a3a31;
}

/*Formatação da área lateral
*/
#beneficios li{
    padding: 8px;
    border-bottom: 1px solid #f3efcb;
    height: 6em;
}

#beneficios li a img{
    float:left;
    margin-right: 8px;
}

#beneficios li a p{
    font-size: 0.8em;
}

#beneficios li a h3{
    font-size: 1em;
    color: #615b2d;
    padding: 5px 0;
    background: url('./img/ornamento.png') no-repeat center right;
}

#beneficios li:hover{
    background: #f6f3d6;
    cursor: pointer;
}


#beneficios-paginas li{
    padding: 10px;
    border-bottom: 1px solid #f3efcb;
    height: 12em;
    background: url('./img/ornamento.png') no-repeat center right;
}

#beneficios-paginas li img{
    float:left;
    margin-right: 8px;
    height: 180px;
}


#beneficios-paginas li:hover{
    background: #f6f3d6;
    cursor: pointer;
}

#historia li{
    padding: 8px;
    border-bottom: 1px solid #f3efcb;
    height: 9em;
}

#historia li a img{
    float:left;
    margin-right: 8px;
}

#historia li a p{
    font-size: 1em;
}

#historia li a h3{
    font-size: 1em;
    color: #615b2d;
    padding: 5px 0;
    background: url('./img/ornamento.png') no-repeat center right;
}

#historia li:hover{
    background: #f6f3d6;
    cursor: pointer;
}

#gastronomia li{
    padding: 8px;
    border-bottom: 1px solid #f3efcb;
    height: 12em;
}

#gastronomia li a img{
    float:left;
    margin-right: 8px;
}

#gastronomia li a p{
    font-size: 0.8em;
}

#gastronomia li a h3{
    font-size: 1em;
    color: #615b2d;
    padding: 5px 0;
    background: url('./img/ornamento.png') no-repeat center right;
}

#gastronomia li:hover{
    background: #f6f3d6;
    cursor: pointer;
}



#area-principal li{
    
    list-style: none;

}

#area-principal a{
    text-decoration: none;
    color: #5a3a31;

}

iframe{

    margin: 60px 80px;
}

.formulario{
    width: 400px;
    padding: 30px;
    border:1px solid #e3d888;
}
.formulario p{
    width: 100%;
    font-size: 1.1em;
}
.field{
    width: 100%;
    margin: 15px 0;
}
.field label, 
.field span{
    padding-left: 10px;
    font-size: 1em;
    display: block;
    width: 100%;
    color: #5a3a31;
}
.radiobox label{
    width: auto;
    display: inline-block;
}
input[type=text],
input[type=email],
textarea{
    width: 100%;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid #e3d888;
    outline: none;
}
input#nao{
    margin-left: 30px;
}
textarea{
    line-height: 20px;
    padding: 10px;
    height: 90px;
    resize: none;
}
input[type=submit]{
    display: block;
    background-color: #e3d888;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}

/**Reserva**/
button, input, select, textarea {
font-size   : 100%;
  margin: 0.5em 1em;
  vertical-align: middle;
  background: #F3F4EC;
}
textarea {width: 100%;}

fieldset {
    color:#5A3A31;
	border: none;
	margin-bottom: 2em;
	border-bottom: 1px solid #E3D888;
	width: 90%;
    font-size: 1em;

}

fieldset p{
    font-size: 1em;
}

legend {
	font-size: 1em; 
	color:#5A3A31;
	margin-bottom: 1em;
	}
label {display: inline-block; min-width: 5em;}

button {    
	background-color: #31231E;
    border: none;
    color: #E3D888;
    padding: 1em 2em;
    text-align: center;
    font-size: 1.2em
    text-decoration: none;
    display: inline-block;
    font-size: 12px; 
    float: left;
    margin-right: 8em;
}

