*{
    margin:0;
    padding:0;
}

body{
    background: #e2f1af;
    margin:15px;  
}

#container{
    background: #84714f;
}

#topo{
    position: relative;
    background: #dbcd87;
    height: 15.4em;
    min-height: 250px;
}

#area-logo{
    position: absolute;
    background: url('./img/topo-imagem-principal.png') no-repeat;
    width: 100%;
    height: 250px;
    top:0;
    left:0;
}

#area-menu{
    position: absolute;
    top:0;
    right:0;    
    background: url('./img/topo-imagem-lateral.png') no-repeat;
    width: 500px;
    height: 100%;
    
}